body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0f0f0f;
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  z-index: 2;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  margin: 0;
}

p {
  font-size: 1.2rem;
  opacity: 0.85;
}

.sub {
  font-size: 1rem;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

/* GALLERY */
.gallery-section {
  padding: 80px 10%;
  background: #0f0f0f;
}

.gallery-section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.gallery {
  columns: 3;
  column-gap: 15px;
}

.gallery img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.02);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 40px;
  opacity: 0.6;
}
