body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4efe8;
  color: #2c2c2c;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  max-width: 500px;
}

button {
  width: 180px;
  padding: 15px;
  margin-top: 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
